<div class="background text-center d-flex align-items-center">
  <div class="cards container">
    <ul class="list-unstyled d-flex justify-content-around">
      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <%= image_tag "#{cocktail.name.downcase.gsub(' ', '_')}.jpg", size: "200x300" %>
          <div class="card-infos text-left">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            <ul class='list-unstyled'>
              <% cocktail.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="card">
          <%= image_tag "new_cocktail.jpg", size: "200x300" %>
          <div class="card-infos text-left">
            <h2><%= link_to "Add a new cocktail", new_cocktail_path %></h2>
            <p>Surprise us with one of your own creation</p>
          </div>
        </div>
    </ul>
  </div>
</div>